#base-div {
  text-align: center;
}
.q-title {
  margin: 100px 0;
}
.s-box {
  float: left;
  color: #fff;
  font-size: 2em;
  height: 100px;
  width: 200px;
  margin: 0 0 0 20%;
  border-radius: 50%;
}
.yes {
  background-color: #3498db;
}
.no {
  background-color: #e74c3c;
}